    <div class="row">
        <div class="span6 intro_box">
            <h2>Support Us</h2>
            <p>Please support our cause by donating to us and receive an e-book <strong>50 Things About GERD Your Doctor Did Not Tell You</strong> written by our researchers. The book provides facts that people are not often aware of about GERD based on medical sources and personal experience. It will help a patient better manage the disease. The proceeds will be spent on paying our designers and developers, and keeping our servers running, while we look for a grant.</p>
            {{ donate_button }}
        </div>
        <div class="span6 intro_box" id="notification_signup">
            <h2>Notify me when we launch</h2>
            <p>We are still designing the website. Fill in your email address below and we will let you know when the website is ready.</p>
            <form class="well form-inline">
                <input type="text" class="input-large" name="email" placeholder="Email address">
                <button type="submit" class="btn">Sign up <i class="icon-tint"></i></button>
            </form>
            <div class="alert alert-error hide">
                <strong>Error!</strong>
            </div>
            <div class="alert alert-success hide">
                <strong>Success!</strong> You will receive a notification from us.
            </div>
            <p><em>(Your email is safe with us. We won't spam you!)</em></p>
        </div>
    </div>
