    <div id="slides">
        <div class="slides_container">
            <div>
                <h1>Our Goal</h1>
                <img src="{{ STATIC_URL }}img/coming_soon/a_healing_hope.png" alt="" class="pull-right" style="opacity:0.6"/>
                <p>To build a website that provides patients a rich source of information on GERD, a platform for them to exchange information and personalize their treatment. Here you can find</p>
                <ul>
                    <li>Recommended doctors and clinics.</li>
                    <li>Various treatment methods including the standard protocol and the alternatives.</li>
                    <li>Self-help tips and guides written by patients themselves.</li>
                    <li>A database of modern medicine and natural remedies effective for GERD.</li>
                    <li>Newest clinical trials.</li>
                    <li>Other interventions.</li>
                </ul>
            </div>
            <div>
                <h1>Our Frustration ~1</h1>
                <ul>
                    <li>GERD is difficult to treat.</li>
                </ul>
                <img src="{{ STATIC_URL }}img/coming_soon/nex_pills.png" alt="" class="pull-right" />
                <p>GERD is largely treated symptomatically. The goal of the current standard treatment protocol is to suppress the acid in the stomach thereby reducing the symptoms. It is not addressing the root cause or mechanism of how acid reflux happens, because the root cause is still poorly understood. Many patients are put on indefinitely long period of acid-suppressing medication to prevent recurrence of their symptoms. Some patients still experience their symptoms despite taking a high dosage of the medication.</p>
            </div>
            <div>
                <h1>Our Frustration ~2</h1>
                <ul>
                    <li>Doctors seldom personalize a treatment.</li>
                </ul>
                <img src="{{ STATIC_URL }}img/coming_soon/busy_doctor.jpg" alt="" class="slide_img" />
                <p>Every patient has his own unique profile due to differences in symptom manifestation, reaction to medicine, general physique, etc. A treatment plan that works best on one patient sometimes does not work optimally on another. However after a consultation, a doctor usually pushes the same standard treatment to his patient and waits until the next consultation to find out the response and adjust accordingly. As a result, the patient did not get the best treatment tailored to him.</p>
            </div>
            <div>
                <h1>Omeopathy</h1>                
                <p>An <em>omeopath</em> is a patient who actively seeks and continuously improves a holistic and personalized treatment to cure himself. <em>Omeopathy</em> refers to the set of practices adopted by an omeopath.</p>
                <p>Omeopaths seek to understand the cause of an illness and find the most suitable treatment plan. Omeopathy champions the use of a combination of modern medicine, traditional medicine and all kinds of possible interventions in order to treat an illness. When the standard treatment plan is inadequate, we augment it.</p>
                <br />
                <blockquote>
                    <p>The cure of every illness is there at your reach - if only you are enlightened enough to grasp it.</p>
                    <small>Omeopaths</small>
                </blockquote>
            </div>
            <div>
                <h1>GERD</h1>   
                <img src="{{ STATIC_URL }}img/coming_soon/gerd.jpg" alt="" class="slide_img" />
                <p>Gastroesophageal reflux disease is a condition that happens when the esophagus is repeatedly exposed to the acidic content from the stomach for a prolonged period of time. It can cause heartburn (a typical symptom) or coughing, throat irritation, etc (atypical symptoms). A chronic GERD condition can result in a low quality of life and may progress into even worse conditions. The exact root cause of GERD is unknown. Usually GERD can be controlled through lifestyle modification and medication. Various surgical options are available for patients who have no luck with medication. A cure for GERD is yet to be found. However through information exchange, we can help each other better understand, manage the disease and achieve healing. This is usually the first step towards discovering a cure.</p>
            </div>
            <div>
                <h1>About Us</h1>
                <p>We are a group of patients, caregivers, clinical researchers, web designers and developers working towards providing better healthcare for chronically ill patients. We want to build a great community product for the community to provide emotional support and helpful information for each other, aka. <em>Medicine 2.0</em>. We want to provide answers to patients who continue to ask questions about their illness so that they will be able to see the light at the end of the tunnel one day.</p>
            </div>
            <div>
                <h1>Current Status</h1>
                <img src="{{ STATIC_URL }}img/coming_soon/coming_soon.jpg" alt="" class="slide_img" />
                <p>The website is currently under construction by our designers and developers. Its design will enable patients to easily find the most suitable <strong>X</strong> for their condition, <strong>X</strong> being a doctor, clinic, medication, natural remedy etc, and also to easily feedback their experience on <strong>X</strong>. Information exchange on the website will also be made very easy. This project started in 2012 and will be completed within the year. We are constantly collecting feedback from GERD patients to improve the design of the website. Tell us what you want to see on the website now.</p>
                <button class="btn btn-large btn-primary" id="btn_feedback">Send us a feedback <i class="icon-envelope icon-white"></i></button>
            </div>
        </div>
        
        <ul class="pagination">
            <li class="active"><a href="#0">1</a></li>
            <li><a href="#1">2</a></li>
            <li><a href="#2">3</a></li>
            <li><a href="#3">4</a></li>
            <li><a href="#4">5</a></li>
            <li><a href="#5">6</a></li>
            <li><a href="#6">7</a></li>
        </ul>
        
        <ul class="pager">
            <li><a class="prev" href="#">Previous</a></li>
            <li><a class="next" href="#">Next</a></li>
        </ul>
    </div>
