{% extends "omeopath_base.html" %}
{% load i18n %}

{% block content %}
<p>THE Meditation of yesterday has filled my mind with so many               
doubts, that it is no longer in my power to forget them. Nor do I see,      
meanwhile, any principle on which they can be resolved; and, just as        
if I had fallen all of a sudden into very deep water, I am so               
greatly disconcerted as to be made unable either to plant my feet           
firmly on the bottom or sustain myself by swimming on the surface. I        
will, nevertheless, make an effort, and try anew the same path on           
which I had entered yesterday, that is, proceed by casting aside all        
that admits of the slightest doubt, not less than if I had                  
discovered it to be absolutely false; and I will continue always in         
this track until I shall find something that is certain, or at              
least, if I can do nothing more, until I shall know with certainty          
that there is nothing certain. Archimedes, that he might transport the      
entire globe from the place it occupied to another, demanded only a         
point that was firm and immovable; so also, I shall be entitled to          
entertain the highest expectations, if I am fortunate enough to             
discover only one thing that is certain and indubitable.</p>
{% endblock content %}

