{% extends "base.html" %}
{% load i18n %}

{% block page_title %}{% trans "Omeopath - medicine, natural remedies and information sharing for GERD" %}{% endblock %}

{% block css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/omeopath_base.css" />
{% endblock %}

{% block header %}
    <div class="container">
        <div class="row">
            <div class="span2">
                <img src="{{ STATIC_URL }}img/logo_small.png" alt="Logo"/>
            </div>
            <div class="span9" id="logo">
                <br /><br /><br />
                <h1>Omeopath</h1>
                <p>Personalize your treatment for chronic illness.</p>
            </div>
        </div>
        
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/gerd/">GERD</a>
                    <div class="nav-collapse pull-right">
                        <ul class="nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock header %}

{% block footer %}
    <div id="footer_band">
        <div class="container">
            <div class="row">
                <div class="span1 offset5">
                    <img src="{{ STATIC_URL }}img/logo_small_embossed.png" alt="" />
                </div>
                <div class="span3">
                    <h2>Contact</h2>
                    <p>Email us at kakarukeys ~[at]~  gmail.com</p>
                </div>
            </div>
            <div id="footer_last_message"><p>&copy; <em>Omeopath.com</em> All rights reserved.</p></div>
        </div>
    </div>
{% endblock footer %}

