/* omeopath_base */

body {
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #181B20;
}

header {
    margin: 5px 0px;
}

#logo h1 {
    letter-spacing: -2px;
    font-size: 35px;
}

#logo p {
    font-family: 'Abel', sans-serif;
    font-size: 14px;
}

footer .container {
    color: #A0A0A0;
    padding: 20px 0;
}

footer h2 {
    font-size: 16px;
}

#footer_band {
    background-color: #2F3739;
    margin: 20px 0;
    border-top:1px solid green;
    border-bottom:1px solid green;
}

#footer_last_message {
    text-align:center;
}

/* coming_soon */

.slides_container {
    padding: 60px;
    background-color: #F0E2F0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.slides_container h1 {
    margin-bottom: 0;
    font-size: 40px;
    line-height: 1;
    color: inherit;
    letter-spacing: -1px;
}

.slides_container p, .slides_container ul li {
    font-size: 16px;
    line-height: 27px;
    color: inherit;
}

.slide_img {
    float: right;
    margin-left: 10px;
}

img.divider {
    display: block;
    margin: 20px auto;
}

.intro_box h2 {
    border-bottom: 1px dotted #999;
    margin-bottom: 20px;
}

